<html>
<head>
    <title>{{data.title}}</title>
    <base href="{{{data.baseUrl}}}">
    <link href="{{data.allCss}}" media="all" rel="stylesheet" type="text/css">
    {{#data.specCss}}
    <link href="{{data.specCss}}" media="all" rel="stylesheet" type="text/css">
    {{/data.specCss}}
</head>
<frameset cols="300,*">  <!-- Frameset-Definition -->
    <frame name="{{data.index.target}}" src="{{{data.index.href}}}">
    <frame name="{{data.target.target}}" src="{{{data.target.href}}}">
</frameset>
</html>
