<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="{{{data.resourcesPath}}}/css/pdf.css" media="all" rel="stylesheet" type="text/css">
    {{#data.specCss}}
    <link href="{{{data.specCss}}}" media="all" rel="stylesheet" type="text/css">
    {{/data.specCss}}

</head>
<body>
{{#imageList}}
<div class="page">
    <div class="header">{{{title}}}</div>
    <div class="content">
        <img src="{{{file}}}" />
    </div>
    <div class="footer"></div>
</div>
{{/imageList}}

</body>
</html>
